@use "./variables.scss";

/*******************/
/********SPACE******/
/*******************/
@function getSize($size) {
  $spaceTokens: map-get($tokens, "spacing");
  @return map-get($spaceTokens, $size);
}

/**padding**/
@mixin padding($size) {
  padding: getSize($size);
}
@mixin padding-top($size) {
  padding-top: getSize($size);
}
@mixin padding-bottom($size) {
  padding-bottom: getSize($size);
}
@mixin padding-left($size) {
  padding-left: getSize($size);
}
@mixin padding-right($size) {
  padding-right: getSize($size);
}
@mixin padding-horizontal($size) {
  padding-left: getSize($size);
  padding-right: getSize($size);
}
@mixin padding-vertical($size) {
  padding-top: getSize($size);
  padding-bottom: getSize($size);
}
/**margin**/
@mixin margin($size) {
  margin: getSize($size);
}
@mixin margin-top($size) {
  margin-top: getSize($size);
}
@mixin margin-bottom($size) {
  margin-bottom: getSize($size);
}
@mixin margin-left($size) {
  margin-left: getSize($size);
}
@mixin margin-right($size) {
  margin-right: getSize($size);
}
@mixin margin-horizontal($size) {
  margin-left: getSize($size);
  margin-right: getSize($size);
}
@mixin margin-vertical($size) {
  margin-top: getSize($size);
  margin-bottom: getSize($size);
}

/*******************/
/********COLOR******/
/*******************/
@function getColor($color, $size: "base") {
  $colorTokens: map-get($tokens, "color");
  $entityColors: map-get($colorTokens, "entity");
  @if map-has-key($entityColors, $color) {
    @return map-get($entityColors, $color);
  } @else {
    $selected: map-get($colorTokens, $color);
    @return map-get($selected, $size);
  }
}

/**color**/
@mixin color($color, $size: "base") {
  color: getColor($color, $size);
}

/**background-color**/
@mixin background-color($color, $size: "base") {
  background-color: getColor($color, $size);
}

/*******************/
/*****Typography****/
/*******************/
$textSizeTokens: map-get($tokens, "textSize");
$textWeightTokens: map-get($tokens, "textWeight");

@mixin font($size, $type: "body") {
  @if ($type == "body") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "light");
  }
  @if ($type == "heading") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "bold");
  }
}
